.about__container {
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: underline;
}

.about__card {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem;
    gap: 2rem;
    max-width: 1200px;
}

.about__card > img {
    max-height: 450px;
    width: 100%;
}

.about__body {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about__body > p {
    text-align: justify;
    font-size: 1.3em;
}

.about__card--title {
    font-size: 2em;
}